.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 480px) {
    width: 100%;
   
   }

  .title {
    margin: 10px 0;

    @media screen and (max-width: 480px) {
      font-size: 20px;
         
         }
  }

  .sub-title{
    @media screen and (max-width: 480px) {
      font-size: 20px;
         }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
